* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin: 20px 0;
}

nav {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
}

.list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}
.box1 {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.box2 {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.box3 {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.box4 {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.box5 {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.box6 {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.box7 {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.box8 {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.box9 {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.box10 {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.box11 {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.box12 {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
div {
  display: block;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  background-color: gray;
  line-height: 120px;
}
.footer-text {
  color: white;
}
